@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.darkmode--activated body{
	padding: 50px;
}

.darkmode--activated label{
	position: relative;
	cursor: pointer;
	color: #999;
	font-size: 30px;
}

.darkmode--activated h2{
	color: #999;
}

.darkmode--activated input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}

/*Check box*/
.darkmode--activated input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

.darkmode--activated input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #2980b9;
	animation: effect 250ms ease-in;
}

.darkmode--activated input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

.darkmode--activated input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}

/*Radio box*/

.darkmode--activated input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

.darkmode--activated input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #8e44ad;
	animation: effect 250ms ease-in;
}

.darkmode--activated input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

.darkmode--activated input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}

/*Radio Toggle*/

.darkmode--activated .toggle input[type="radio"] + .label-text:before{
	content: "\f204";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 10px;
}

.darkmode--activated .toggle input[type="radio"]:checked + .darkmode--activated .label-text:before{
	content: "\f205";
	color: #16a085;
	animation: effect 250ms ease-in;
}

.darkmode--activated .toggle input[type="radio"]:disabled + .darkmode--activated .label-text{
	color: #aaa;
}

.darkmode--activated .toggle input[type="radio"]:disabled + .darkmode--activated .label-text:before{
	content: "\f204";
	color: #ccc;
}

.darkmode--activated input[type="button"].btn-validate{
	content: "\f204";
	background-color: #ddd;
}

.darkmode--activated input[type="text"].form-control{
	content: "\f204";
	background-color: #ddd;
}

.darkmode--activated span.label-text{
	content: "\f204";
	color: #ddd;
}

.darkmode--activated input::placeholder {
	color: #000;
}

.darkmode--activated #style-6::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.darkmode--activated #style-6::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
.darkmode--activated #style-6::-webkit-scrollbar-thumb
{
	background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
											  rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

.darkmode--activated .Steel{background:#47472f}
.darkmode--activated .Fighting{background:#3fcfd7}
.darkmode--activated .Dragon{background:#8fc707}
.darkmode--activated .Water{background:#976f0f}
.darkmode--activated .Electric{background:#072fcf}
.darkmode--activated .Fairy{background:#116653}
.darkmode--activated .Fire{background:#0f7fcf}
.darkmode--activated .Ice{background:#672727}
.darkmode--activated .Bug{background:#5747df}
.darkmode--activated .Normal{background:#575787}
.darkmode--activated .Grass{background:#8737af}
.darkmode--activated .Poison{background:#5fbf5f}
.darkmode--activated .Psychic{background:#07a777}
.darkmode--activated .Rock{background:#475fc7}
.darkmode--activated .Ground{background:#1f3f97}
.darkmode--activated .Dark{background:#8fa7b7}
.darkmode--activated .Flying{background:#576f0f}
.darkmode--activated .Ghost{background:#999944}
.darkmode--activated .Other, .darkmode--activated .statut{background:#55606f}

.darkmode--activated .btn-warning {
	background-color:#b7ad52;
}


.darkmode--activated .moves{color:#000 !important ; font-weight: bold;}

.darkmode--activated .Ghost, .darkmode--activated .Steel, .darkmode--activated .Fighting, .darkmode--activated .Dragon, .darkmode--activated .Water, .Electric, .darkmode--activated .Fairy, .darkmode--activated .Fire, .darkmode--activated .Ice, .darkmode--activated .Bug, .darkmode--activated .Normal,.darkmode--activated .Grass,.darkmode--activated .Poison,.darkmode--activated .Psychic,.darkmode--activated .Rock,.darkmode--activated .Ground,.darkmode--activated .Dark,.darkmode--activated .Flying,.darkmode--activated .Other,.darkmode--activated .statut{
	width:65px;
	height:22px;
	box-sizing:border-box;
	font-family:'Century Gothic', Verdana;
	font-size:11px;
	line-height:20px;
	text-transform:uppercase;
	text-align:center;
	border-radius:10px;
	display:inline-block;
	margin-right:5px;
	color:#000;
	font-weight:bold;
	margin:5px 0;
	border: 1px solid #656565;
	box-shadow:0 0 0 0.2em rgba(255,255,255,0.4) inset;
}
